<div class="chat-search flex flex-column gap-16">
    <div class="chat-search__top">
      {{{ buttonSettings }}}
    </div>
    <div class="chat-search__bottom">
        {{{ searchInput }}}
    </div>
</div>
