<div class="chat-search flex flex-column gap-16">
    <div class="chat-search__top">
      <a href="/profile" class="chat-search__settings flex flex-ai-end gap-6">Настройки</a>
    </div>
    <div class="chat-search__bottom">
        {{{ searchInput }}}
    </div>
</div>
