<div class="chat-search flex flex-column gap-16">
    <div class="chat-search__top">
        <button type="button" class="chat-search__settings flex flex-ai-end gap-6">Настройки</button>
    </div>
    <div class="chat-search__bottom">
        {{> input/input placeholder=placeholder type=type name=name }}
    </div>
</div>
