<div class="chat-search">
    <div class="chat-search__top">
        <button type="button" class="chat-search__settings">Настройки</button>
    </div>
    <div class="chat-search__bottom">
        {{> input/input placeholder=placeholder type=type name=name }}
    </div>
</div>