{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-param-reassign": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false,
        "variables": false,
        "allowNamedExports": false
      }
    ],
    "semi": "warn",
    "no-unused-vars": "warn",
    "no-unused-labels": "warn",
    "no-unused-expressions": "warn",
    "no-underscore-dangle": 0,
    "default-param-last": 0,
    "max-len": [
      2,
      200
    ],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "@typescript-eslint/no-unused-vars": 2
  }
}
