.chat {
    &__sidebar {
        width: 328px;
        background: var(--color-primary);
        border-right: 1px solid var(--color-subtext);
    }

    &__content {
        width: 100%;
    }

    &__content-body {
        width: 100%;
        padding: 16px;
    }
}
