<div class="error flex flex-ai-center flex-jc-center flex-column gap-10">
    <div class="error__code">{{ errorCode }}</div>
    <div class="error__title">{{ errorText }}</div>
    <div class="error__button">
        {{{ button }}}
    </div>
</div>
