@import "../partials/chat/chatSearch/chatSearch.pcss";
@import "../partials/chat/chatItem/chatItem.pcss";
@import "../partials/chat/chatWindow/header/chatWindowHeader.pcss";
@import "../partials/chat/chatWindow/message/chatWindowMessage.pcss";
@import "../partials/chat/chatWindow/chatMessage/chatMessage.pcss";

.chat {
    &__sidebar {
        width: 328px;
        background: var(--color-primary);
        border-right: 1px solid var(--color-subtext);
    }

    &__content {
        width: 100%;
    }

    &__content-body {
        width: 100%;
    }
}