:root {
    --color-primary: #b8b8ff;
    --color-accent: #9381ff;
    --color-neutral: #f8f7ff;
    --color-text: #2d3142;
    --color-active: #ef8354;
    --color-success: #2c6e49;
    --color-error: #e63946;
    --color-subtext: #7c7d80;
}
