---
screenTitle: '400'
pageStyles: error
---

{{!< base}}
<main class="error flex flex-11a flex-ai-center flex-jc-center">
    <div class="error__content">
        {{> error/error  errorCode=400 errorText="Ой, Такой страницы нет(" text="Вернуться к чатам"}}
    </div>
</main>
