---
screenTitle: '500'
pageStyles: error
---

{{!< base}}
<main class="error flex flex-11a flex-ai-center flex-jc-center">
    <div class="error__content">
        {{> error/error  errorCode=500 errorText="Ой, Уже исправляем проблему" text="Вернуться к чатам"}}
    </div>
</main>