---
screenTitle: Авторизация
pageStyles: auth
formId: 1
formTitle: Авторизация
fields:
    -
        label: Логин
        name: login
        placeholder: Введите логин
        type: text
    -
        label: Пароль
        name: password
        placeholder: Введите пароль
        type: password
buttons:
    -
        type: submit
        text: Авторизоваться

    -
        type: submit
        text: Нет аккаунта?
        isSecondary: true
---

{{!< base}}

<main class="auth flex flex-11a flex-ai-center flex-jc-center">
    <div class="auth__form">
        {{> form/form formId=formId formTitle=formTitle fields=fields buttons=buttons}}
    </div>
</main>