---
screenTitle: Чат
pageStyles: chat
messages:
        -
            chatName: Андрей
            messege: 'Друзья, у меня для вас особенный выпуск новостей!'
            date: 12:30
            count: 1
        -
            chatName: Андрей
            messege: 'Друзья, у меня для вас особенный выпуск новостей!'
            date: 12:30
            count: 1

        -
            chatName: Андрей
            messege: 'Друзья, у меня для вас особенный выпуск новостей!'
            date: 12:30
            count: 1

        -
            chatName: Андрей
            messege: 'Друзья, у меня для вас особенный выпуск новостей!'
            date: 12:30
            count: 1

        -
            chatName: Андрей
            messege: 'Друзья, у меня для вас особенный выпуск новостей!'
            date: 12:30
            count: 1

        -
            chatName: Андрей
            messege: 'Друзья, у меня для вас особенный выпуск новостей!'
            date: 12:30
            count: 1

---

{{!< base}}
<main class="chat flex flex-11a">
    <aside class="chat__sidebar flex-00a">
        {{> chat/chatSearch/chatSearch placeholder="Поиск" type=type name=search}}
        {{#each messages}}
            {{> chat/chatItem/chatItem }}
        {{/each}}
    </aside>
    <article class="chat__content flex flex-column flex-11a">
        <div class="chat__content-header flex-00a flex-column flex-jc-center flex-ai-center">
            {{> chat/chatWindow/header/chatWindowHeader chatName="Андрей" }}
        </div>
        <div class="chat__content-body flex flex-11a flex-column flex-jc-center flex-ai-center">
            {{> error/error errorText="У вас еще нет переписки с этим контактом"}}
        </div>
        <div class="chat__content-footer flex-00a">
            {{> chat/chatWindow/messege/chatWindowMessege }}
        </div>
    </article>
</main>