---
screenTitle: Редактирование профиля
pageStyles: profile
formId: 1
formTitle: Редактирование профиля
fields:
    -
        label: Почта
        name: email
        placeholder: Введите e-mail
        type: email
    -
        label: Логин
        name: login
        placeholder: Введите логин
        type: text
    -
        label: Имя
        name: first_name
        placeholder: Введите имя
        type: text
    -
        label: Фамилия
        name: second_name
        placeholder: Введите фамилию
        type: text
    -
        label: Телефон
        name: phone
        placeholder: Введите номер телефона
        type: tel

buttons:
    -
        type: submit
        text: Сохранить

    -
        type: submit
        text: Отмена
        isSecondary: true
---

{{!< base}}

<main class="profile flex-11a flex flex-jc-center flex-ai-center flex-column">
    <button class="profile__back flex gap-4">
        Назад
    </button>

    <div class="profile__content flex flex-11a flex-jc-center gap-16 flex-ai-center flex-column">
        <div class="profile__avatar">
            <img src="../assets/images/empty.png" alt="Иван">
        </div>

        <div class="profile__name">Иван</div>

        <div class="profile__info">
         {{> form/form formId=formId formTitle=formTitle fields=fields buttons=buttons}}
        </div>
    </div>
</main>
