<div class="chat-message flex flex-ai-center gap-12">
   <button type="button" class="chat-message__button button-attach flex-00a"></button>
   <div class="chat-message__field flex-11a">
       <label class="chat-message__label">
           <textarea placeholder="{{ placeholder }}" class="chat-message__textarea" rows="1" name="message" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
       </label>
   </div>
   <button type="button" class="chat-message__button button-send  flex-00a"></button>
</div>