<form id="{{ formId }}" class="form flex flex-column gap-32">
    <div class="form__title">{{ formTitle }}</div>

    <div class="form__items flex flex-column gap-16">
        {{#each fields}}
            {{{ this }}}
        {{/each}}
    </div>

    <div class="form__buttons flex flex-column gap-8">
    {{#each buttons}}
        {{{ this }}}
    {{/each}}
    </div>
</form>
