.form {
    padding: 10px 30px;
    background: var(--color-neutral);
    border: 1px solid var(--color-primary);
    border-radius: 21px;
    min-width: 340px;

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
    }

    &__items {
        width: 100%;
    }
}
