<div class="chat-message flex flex-ai-center gap-12">
   <div class="chat-message__field flex-11a">
       <label class="chat-message__label">
         {{{ messageField }}}
       </label>
   </div>
  {{{ buttonSend }}}
</div>
