<button class="button {{#if isSecondary }}button--secondary{{^}} button--primary {{/if}}"
        {{#if disabled}} disabled {{/if}}
        type="{{#if type }}{{type}}{{^}}button{{/if}}">
    {{ text }}
</button>
